/* Example styles for the custom classes */
.border-customColor {
    border-color: #008480; /* Example custom color */
  }
  



  .card {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.4s ease;
  }
  
  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  