/* Example styles for the custom classes */
.border-customColor {
    border-color: #008480; /* Example custom color */
  }
  

/* Apply transformation and shadow on hover */
.group:hover {
    transform: translateY(-10px); /* Move the div up by 10px on hover */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  }
  
  /* Ensure you have the transition class defined */
  .transition-transform {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .card {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.4s ease;
  }
  
  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  